.navbar-brand{
    font-family: 'Quintessential', cursive;
    font-weight: bold;
    padding: 5;
    }
.img-thumbnail{
    max-width: 100px;
    border-radius: 50%;
    padding: 6px;
    margin-left: 15px;
}